.contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

h3, ul {
    margin: 0;
}

input:focus {
    outline: 3px solid skyblue;
}

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.wrapper > * {
    padding: 1em;
}

.header {
    background: #038cfc;
    color: #fff;
}

.header h3 {
    font-size: 1.75em;
}