img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

.tile {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upper-third {
  max-height: 65px;
  max-width: 65px;
  min-height: 65px;
  min-width: 65px;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.9);
}

.lower-third {
  position: absolute;
  /* @sldsValidatorIgnore */
  bottom: 0;
  /* @sldsValidatorIgnore */
  left: 0;
  /* @sldsValidatorIgnore */
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.truncate {
  /* @sldsValidatorIgnore */
  white-space: nowrap;
  overflow: hidden;
  /* @sldsValidatorIgnore */
  text-overflow: ellipsis;
}